.container {
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;
}

.input {
	display: none;
}

.chooseBtn {
	outline: none;
	color: green;
	font-weight: bold;
	border: none;
	background-color: transparent;
}


.preview_img {
	width: 80px;
	height: 80px;
	object-fit: contain;
}

.progress_container {
	width: 30%;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

.check_img {
	width: 60px;
	height: 60px;
}