.avatar {
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
.messageUser {
    max-width: 48%;
    height:auto;
    background-color: rgb(137,206,247);
    
}
.messageSender {
    max-width: 48%;
    height:auto;
    background-color: rgb(163,248,139);
}